@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

body {
  background-image: url("Picture8.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: change 150s infinite ease-in-out;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  margin: 0; /* Reset margin */
}
/* this is a comment */

.app {
  background-image: url("Picture8.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: change 150s infinite ease-in-out;
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  -moz-box-shadow: 30px 30px 30px black;
  -webkit-box-shadow: 30px 30px 30px black;
  box-shadow: 30px 30px 30px black;
}

.app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the overlay opacity as needed */
  z-index: -1;
  border-radius: 10px; /* Apply border-radius to the overlay */
}

.app h1 {
  font-size: 25px;
  color: white;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

#timer {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #fffdfd;
  font-weight: 600;
}

.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

/* ... rest of your existing styles ... */

@keyframes change {
  0% {
    background-image: url("Picture8.png");
  }
  10% {
    background-image: url("Picture15.png");
  }
  20% {
    background-image: url("Picture13 - Copy.png");
  }
  30% {
    background-image: url("Picture14.png");
  }
  40% {
    background-image: url("Picture10.png");
  }
  50% {
    background-image: url("Picture16.png");
  }
  60% {
    background-image: url("Picture17.png");
  }
  70% {
    background-image: url("Picture19.png");
  }
  80% {
    background-image: url("Picture20.png");
  }
}


.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}


.btn.selected {
  background-color: #4CAF50;
  color: #fff;
}

.btn.selected:hover {
  background-color: #45a049;
}
// ..